/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

/*index.html*/
body {
    background-color: rgb(233, 227, 227);
}

#quizSection {
    margin: 25px;
}

#wrapper {
    border: 2px dotted darkmagenta;
    position: absolute;
    width: 700px;
    height: 600px;
    left: 32%;
    top: 15%;
    /*left: 30%; top: 20%*/
}

#begin {
    padding: 20px;
    position: auto;
    color: rgb(77, 10, 77);
    text-align: center;

}

#quizTimer {
    float: right;
    padding: 15px;
    font-weight: bold;
}

#questionList{
    margin: 25px;
    padding: 15px;
    position: center;
}

#instructions {
    padding: 20px;
    position: auto;
    color: rgb(77, 10, 77);
    text-align: center;
} 

#optionList {
    padding: 20px;
}

#beginTime {
    padding: 20px 40px;
    font-size: 25px;
    color:white;
    background-color: purple;
    margin-left: 35%;
    position: relative;
}

/*scores.html*/
#backButton {
    padding: 15px;
    width: auto;
    position:relative; /*to box*/
    background-color: purple;
    top: 40%;
    left: 50%;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color:white;
}

#clear {
    padding: 15px;
    position: relative;
    color:white;
    background-color: purple;
    top: 40%;
    right: 15%;
    font-size: 20px;
    text-align: center;
}

#viewScores {
    padding: 30px;
    top: 20%;
}

/*below submit is tied to script.js where user types their initials and hits submit at end of quiz*/
#Submit {
    padding: 20px 40px;
    margin-left: 35%;
    background-color: purple;
    color: white;
    font-size: 25px;
}

#makeDiv {
    margin-top: 25px;
    border-top: 2px solid grey;
}

button {
    border-radius: 10px;
}

/* below label is for "enter initials" field*/
label {
    margin-right: 15px;
}

/* below input is where client inputs their initials*/
input {
    margin-bottom: 25px;
    width: 50%;
    border: 2px solid grey;
}

textarea {
    margin: 25px;
    width: 85%;
}

h2 {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    position: auto;
    color: rgb(77, 10, 77);
}

li {
    padding: 10px 20px;
    margin-top: 15px;
    width: 85%;
    background-color: purple;
    font-size: 20px;
    color:white;
}




/*add media queries to end*/
/*media query for smaller desktop screens and smaller*/
@media screen and (max-width: 980px) {

}

/*Media query for tablets and smaller*/
@media screen and (max-width: 786px) {
    
}

/*Media query for mobile phones and smaller*/
@media screen and (max-width: 575px) {

}
